*{
    box-sizing: border-box;
}
.button
{
    font-size: 25px;
    border: 0px;
    border-radius: 5px;
    padding: 3px 12px;
    cursor: pointer;
}
.success-button
{
    background-color: #24d924;
    color: #efefef;
}
.settings-button
{
    background-color: orange;
    color: #efefef;
    padding: 3px 5px;
    font-size: 23px;
}
.active-inactive-checkbox
{
    width: 20px;
    height: 20px;
    margin: 0px;
}
.checkbox-label-active
{
    vertical-align: top;
    color: #979797;
}
.active-inactive-checkbox:checked ~ .checkbox-label-active {
    color: #151515;
    font-weight: bold;
}
.input-text-box
{
    border: 1px solid #ced4da;
    padding: 5px 6px;
    border-radius: 4px;
    transition: 0.1s box-shadow;
}
.input-text-box:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 3px 3px rgba(0,123,255,.25);
}
.editor-text-area:focus
{
    border: 1.5px solid black;
}
.preview-run-button
{
    border: 1px solid brown;
    background-color: brown;
    color: white;
    border-radius: 0px;
    padding: 2px 10px;
    font-size: 12px;
}
.select-script-list-tag
{
    padding: 4px 2px;
    font-size: 14px;
}
.add-new-script-button
{
    font-size: 17px;
    border: 0.2px solid #b9b9b9;
    padding: 4px;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}